<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>TODO List</string>
	<key>ordering</key>
	<array>
		<string>86DA9302-C76C-49A7-9B01-9ADE54CC24F2</string>
		<string>FDD37672-8F9C-4061-862F-06829EE3A861</string>
		<string>50F8DCCA-F1D1-47F1-9256-C9702DCFD4A4</string>
	</array>
	<key>uuid</key>
	<string>759DB8AB-9F4D-4460-8279-1AEC787E81DA</string>
</dict>
</plist>
